<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="HostNameOrIP" value="lekhasy.ddns.net" />
    <add key="PortNumber" value="22697" />

    <add key="log4net.Config" value="log4.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="log4net.Internal.Debug" value="False" />
  </appSettings>
  <connectionStrings>
    <add name="QLKHDataService.Properties.Settings.QLKHConnectionString"
        connectionString="Data Source=.;Initial Catalog=QLKH;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>