<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
  </configSections>
  <appSettings>
    <add key="IRNServerService" value="net.tcp://localhost:2694/RNServerService"/>
  </appSettings>
  <connectionStrings>
    <add name="QLKH.Properties.Settings.QLKHConnectionString" connectionString="Data Source=.;Initial Catalog=QLKH;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IRNServerCommunicator">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:2694/RNServerService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRNServerCommunicator"
        contract="RNServerService.IRNServerCommunicator" name="NetTcpBinding_IRNServerCommunicator" />
    </client>
  </system.serviceModel>
</configuration>
