<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="ServerFolderPath" value="\ServerCommunicator"/>
    <add key="ServerExeFileName" value="\RawNotification.ServerCommunicator.exe"/>
    <add key="ServerConfigFileName" value="\RawNotification.ServerCommunicator.exe.config"/>
    <add key="ServerLogFolderPath" value="\Logs"/>

    <add key="ClientFolderPath" value="\ClientCommunicator"/>
    <add key="ClientExeFileName" value="\RawNotification.ClientCommunicator.exe"/>
    <add key="ClientConfigFileName" value="\RawNotification.ClientCommunicator.exe.config"/>
    <add key="ClientLogFolderPath" value="\Logs"/>

    <add key="LoginFolderPath" value="\Demo\Login"/>
    <add key="LoginExeFileName" value="\Demo_LoginServer.exe"/>
    <add key="LoginConfigFileName" value="\Demo_LoginServer.exe.config"/>
    <add key="LoginLogFolderPath" value="\Logs"/>

    <add key="QLKHFolderPath" value="\Demo\QLKHData"/>
    <add key="QLKHExeFileName" value="\QLKHDataService.exe"/>
    <add key="QLKHConfigFileName" value="\QLKHDataService.exe.config"/>
    <add key="QLKHLogFolderPath" value="\Logs"/>

    <add key="QLKHAppFolderPath" value="\Demo\AES"/>
    <add key="QLKHAppExeFileName" value="\QLKH.exe"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>