<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RawNotificationForServer.Properties.Settings.Notification_DBConnectionString"
            connectionString="Data Source=.;Initial Catalog=Notification_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RawNotification.RawNotificationServer.Properties.Settings.Notification_DBConnectionString"
            connectionString="Data Source=.;Initial Catalog=Notification_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RawNotification.RawNotificationServer.Properties.Settings.Notification_DBConnectionString1"
            connectionString="Data Source=.;Initial Catalog=Notification_DB;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>