<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="HostNameOrIP" value="localhost"/>
    <add key="PortNumber" value="2694"/>

    <add key="DBSerNameOrIP" value="localhost"/>
    <add key="DBName" value="Notification_DB"/>
    <add key="DBUserId" value="sa"/>
    <add key="DBUserPassword" value="12345678"/>
    
    <add key="WNSSecretKey" value="mNDa99DTqAqc0y+nNtXxNAF3vf6zVLZb"/>
    <add key="WNSPackageSID" value="ms-app://s-1-15-2-2725197343-3336943269-1554551664-2344088653-1875215302-900213611-2750785773"/>

    <add key="TokenPeriodInHours" value="1"/>
    <add key="TokenPeriodInMinutes" value="10"/>
    <add key="TokenPeriodInSeconds" value="10"/>

    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="log4net.Internal.Debug" value="False" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>