USE [master]
GO
/****** Object:  Database [Notification_DB]    Script Date: 30-Jul-16 1:24:17 AM ******/
CREATE DATABASE [Notification_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Notification_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Notification_DB.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Notification_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Notification_DB_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Notification_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Notification_DB]
GO
/****** Object:  Table [dbo].[Device]    Script Date: 30-Jul-16 1:24:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Device](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IMEI] [varchar](50) NOT NULL,
	[ReceiverNewId] [bigint] NOT NULL,
	[URI] [nvarchar](max) NOT NULL,
	[OSId] [int] NOT NULL,
	[DeviceToken] [varchar](36) NOT NULL,
	[TokenExpiredTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Device] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DeviceNotification]    Script Date: 30-Jul-16 1:24:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceNotification](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ReceiverNotificationId] [bigint] NOT NULL,
	[DeviceId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.DeviceNotification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoginToken]    Script Date: 30-Jul-16 1:24:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoginToken](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ReceiverId] [bigint] NOT NULL,
	[AccessToken] [varchar](36) NOT NULL,
	[TokenExpiredTime] [datetime] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 30-Jul-16 1:24:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Notification](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[NotificationContent] [varbinary](max) NOT NULL,
	[NotificationAccessKey] [varchar](36) NOT NULL,
	[NotificationPreviewContent] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_dbo.Notification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Receiver]    Script Date: 30-Jul-16 1:24:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Receiver](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OldId] [varchar](100) NOT NULL,
	[DeviceCount] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Receiver] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ReceiverNotification]    Script Date: 30-Jul-16 1:24:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceiverNotification](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ReceiverNewId] [bigint] NOT NULL,
	[NotificationId] [bigint] NOT NULL,
	[IsRead] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ReceiverNotification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[ReadReceiverNotification]    Script Date: 30-Jul-16 1:24:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ReadReceiverNotification]
AS
SELECT        Id
FROM            dbo.ReceiverNotification
WHERE        (IsRead = 1)

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Unique_Device]    Script Date: 30-Jul-16 1:24:18 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Unique_Device] ON [dbo].[Device]
(
	[IMEI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Receiver] ADD  CONSTRAINT [DF_Receiver_DeviceCount]  DEFAULT ((0)) FOR [DeviceCount]
GO
ALTER TABLE [dbo].[Device]  WITH CHECK ADD  CONSTRAINT [FK_Device_Receiver] FOREIGN KEY([ReceiverNewId])
REFERENCES [dbo].[Receiver] ([Id])
GO
ALTER TABLE [dbo].[Device] CHECK CONSTRAINT [FK_Device_Receiver]
GO
ALTER TABLE [dbo].[DeviceNotification]  WITH CHECK ADD  CONSTRAINT [FK_DeviceNotification_Device] FOREIGN KEY([DeviceId])
REFERENCES [dbo].[Device] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeviceNotification] CHECK CONSTRAINT [FK_DeviceNotification_Device]
GO
ALTER TABLE [dbo].[DeviceNotification]  WITH CHECK ADD  CONSTRAINT [FK_DeviceNotification_ReceiverNotification] FOREIGN KEY([ReceiverNotificationId])
REFERENCES [dbo].[ReceiverNotification] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeviceNotification] CHECK CONSTRAINT [FK_DeviceNotification_ReceiverNotification]
GO
ALTER TABLE [dbo].[LoginToken]  WITH CHECK ADD  CONSTRAINT [FK_LoginToken_Receiver] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[Receiver] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LoginToken] CHECK CONSTRAINT [FK_LoginToken_Receiver]
GO
ALTER TABLE [dbo].[ReceiverNotification]  WITH CHECK ADD  CONSTRAINT [FK_ReceiverNotification_Notification] FOREIGN KEY([NotificationId])
REFERENCES [dbo].[Notification] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReceiverNotification] CHECK CONSTRAINT [FK_ReceiverNotification_Notification]
GO
ALTER TABLE [dbo].[ReceiverNotification]  WITH CHECK ADD  CONSTRAINT [FK_ReceiverNotification_Receiver] FOREIGN KEY([ReceiverNewId])
REFERENCES [dbo].[Receiver] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReceiverNotification] CHECK CONSTRAINT [FK_ReceiverNotification_Receiver]
GO
/****** Object:  StoredProcedure [dbo].[GetAllPendingDeviceNotificationInfo]    Script Date: 30-Jul-16 1:24:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllPendingDeviceNotificationInfo]
AS
BEGIN
	SELECT 
	Notification.NotificationAccessKey as NotificationAccessKey,
	Receiver.Id as ReceiverId,
	DeviceNotification.Id as DeviceNotificationId,
	Device.Id as DeviceId, Device.IMEI as DeviceIMEI, 
	Device.OSId as DeviceOSId, Device.URI as DeviceURI, 
	ReceiverNotification.NotificationId as NotificationId,
	Notification.NotificationPreviewContent as NotificationPreviewContent,
	ReceiverNotification.Id ReceiverNotificationId
	from ReceiverNotification, DeviceNotification, Notification, Device, Receiver
	WHERE
	Receiver.Id = ReceiverNotification.ReceiverNewId AND
	ReceiverNotification.NotificationId = Notification.Id AND
	ReceiverNotification.Id = DeviceNotification.ReceiverNotificationId AND
	DeviceNotification.ReceiverNotificationId = ReceiverNotification.Id AND
	DeviceNotification.DeviceId = Device.Id
END

GO
/****** Object:  StoredProcedure [dbo].[InsertDevice]    Script Date: 30-Jul-16 1:24:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertDevice]
	@ipReceiverNewID bigint,
	@ipIMEI varchar(50),
	@ipURI nvarchar(max),
	@ipOSId int,
	@ipTokenExpiredTime DateTime,
	@ipDeviceToken varchar(36)
AS
BEGIN
	INSERT INTO Device(ReceiverNewId, IMEI, URI, OSId, DeviceToken, TokenExpiredTime) values (@ipReceiverNewID, @ipIMEI, @ipURI, @ipOSId, @ipDeviceToken, @ipTokenExpiredTime);
	UPDATE Receiver SET DeviceCount = DeviceCount+1 where Receiver.Id = @ipReceiverNewID;
END

GO
/****** Object:  StoredProcedure [dbo].[RemoveAllReadNotification]    Script Date: 30-Jul-16 1:24:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveAllReadNotification]
AS
BEGIN
	
	DELETE FROM DeviceNotification WHERE DeviceNotification.ReceiverNotificationId 
	in
	(SELECT ReceiverNotification.Id from ReceiverNotification WHERE ReceiverNotification.IsRead =1);

	DELETE FROM ReceiverNotification WHERE ReceiverNotification.IsRead = 1;
END

GO
/****** Object:  StoredProcedure [dbo].[RemoveAllReceiverHaveNoDevice]    Script Date: 30-Jul-16 1:24:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveAllReceiverHaveNoDevice]
AS
BEGIN
	DELETE FROM Receiver WHERE Receiver.Id IN 
	(
	SELECT Receiver.Id FROM Receiver
	WHERE Receiver.DeviceCount = 0
	);
END

GO
/****** Object:  StoredProcedure [dbo].[RemoveDevice]    Script Date: 30-Jul-16 1:24:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveDevice]
	@ipDeviceId bigint,
	@ipReceiverId bigint
AS
BEGIN
	DELETE FROM dbo.DeviceNotification WHERE DBO.DeviceNotification.DeviceId = @ipDeviceId;
	DELETE FROM DBO.Device WHERE Device.Id = @ipDeviceId;
	UPDATE Receiver SET DeviceCount=DeviceCount-1 WHERE Receiver.Id = @ipReceiverId;
END

GO
/****** Object:  StoredProcedure [dbo].[ResetDB]    Script Date: 30-Jul-16 1:24:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ResetDB]
AS
BEGIN
	DELETE LoginToken;
	DELETE DeviceNotification;
	DELETE ReceiverNotification;
	DELETE Device;
	DELETE Receiver;
	DELETE Notification;
END

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ReceiverNotification"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 204
               Right = 271
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 1710
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ReadReceiverNotification'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ReadReceiverNotification'
GO
USE [master]
GO
